<form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
    <div [ngClass]="{'has-error': myForm.get('name').errors && (myForm.get('name').touched || myForm.get('name').dirty)}">
        <p><input formControlName="name" id="name" placeholder="Your Username" /></p>
            <span class="help-block" *ngIf="myForm.get('name').errors && (myForm.get('name').touched || myForm.get('name').dirty)">
              <span *ngIf="myForm.get('name').errors.required">
                required
              </span>
            </span>
      </div>
    <p><input formControlName="password" id="password" placeholder="Your password" /></p>
    <p><input formControlName="role" id="role" placeholder="user/servicemen" /></p>
    <p><button class="btn btn-primary" type="submit">Register</button></p>
</form>

